body {
    background-color: #FFF3EC;
}

#proposal , #usareport {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7em;
    text-align: left;
    background-color: #F78F40;
    color: #ffffff;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5%;
}


