body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D5646A;
    background-image: url(images/ponyopattern2.jpg);
    background-size: cover;
    background-repeat: repeat;
    margin-left: auto;
    margin-right: auto;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    text-align: center;
    padding: 5%;
    background-color: #BBE8EA;
}

#cover {
    margin: 5%;
    border-radius: 20px;
}

#lyrics {
    font-weight: 600;
    text-align: left;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
}

video {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -1%;
    clip-path: inset(2px 2px 2px 2px);
}

#icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2.5em;
    background-color: #BBE8EA;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 2%;
    padding-bottom: 4%;
}

.fa-step-backward , .fa-play , .fa-pause , .fa-step-forward {
    color: #D5646A;
}

.fa-pause {
    display: none;
}


.fa-step-backward:hover , .fa-play:hover , .fa-pause:hover , .fa-step-forward:hover {
    color: #E3B7BC;
}

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}

footer {
    font-weight: 400;
    font-size: 0.5em;
    margin-top: 25%;
}

footer p a {
    text-decoration: none;
    color: #D5646A;
}

footer p a:hover {
    color: #E3B7BC;
}

#sources {
    margin: 20%;
    background-color: #D5646A;
    color: #ffffff;
}

nav ul {
    list-style-type: none;
    line-height: 2em;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover {
    color: #E3B7BC;
}

@media only screen and (min-width: 600px) {
    body {
        background-image: url(images/ponyopattern2.jpg);
        background-size: cover;
        background-repeat: repeat;
    }

    main {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        border: 5px solid #BBE8EA;
        border-radius: 20px;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: #D5646A;
    }

    video {
        width: 75%;
        height: auto;
    }

    #lyrics {
        margin-left: 0;
    }

    footer {
        margin-top: 80%;
    }
}